.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: var(--background-secondary); 
  box-shadow: var(--box-shadow);
  border-bottom: 1px solid var(--border-color);
  height: 60px; 
}


.nav-left, .nav-center, .nav-right {
  flex: 1;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
}

.nav-center {
  display: flex;
  justify-content: center;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
}


.nav-left a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
}