.profile-dropdown {
  position: absolute;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem 5%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-bottom: 1px solid var(--border-color);
}

li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
}